@use "sass:math";

$grid-columns: 12;
$grid-gap: (
        "0":0,
        "1":10,
        "2":20,
        "3":30,
        "4":40,
);
$layout-values: flex-start, flex-end, center, space-between, space-around;

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row{
  display: flex;
  flex-flow: row wrap;
}

//grid classe
@each $key, $val in $grid-gap{
  .gap-#{$key} > * {
    padding: $val;
  }
  .gap-#{$key} {
    margin-left: -$val;
    margin-right: -$val;
  }
}

//justify content
@each $val in $layout-values{
  .justify-#{$val} {
    justify-content: $val;
  }
}

//centrer
.text-center{
  text-align: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-center{
  margin: 0 auto;
}
