{% extends 'base.html.twig' %}

{% block body %}
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide content">
                <img class="swiper-slide" style="height: 500px; width: 80%; display: block;margin: auto" src="{{ asset('build/code.jpg') }}" alt="">
                <div class="Middle">Dans ce site vous pourrez apprendre a nous connaitre ...</div>
            </div>

            <div class="swiper-slide content">
                <img class="swiper-slide" style="height: 500px; width: 80%; display: block;margin: auto" src="{{ asset('build/service.jpg') }}" alt="">
                <div class="Middle"><span style="text-transform:uppercase;">é</span>galement voir les services que nous proposons ....</div>
            </div>

            <div class="swiper-slide content">
                <img class="swiper-slide" style="height: 500px; width: 80%; display: block;margin: auto" src="{{ asset('build/projet.jpg') }}" alt="">
                <div class="Middle">Mais aussi touts nos projets récents .</div>
            </div>

        </div>
        <div class="swiper-button-next" style="margin-right: 50px; color: black"></div>
        <div class="swiper-button-prev" style="margin-left: 50px; color: black"></div>
    </div>
{% endblock %}