{% extends 'base.html.twig' %}

{% block body %}
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

{#todo voir pour les style dans la div class swiper-slide si on peut pas améliorer pour enlever l'erreur et voir ou on
            peut ajouter un h1 BJTechnoDev#}

            <div class="swiper-slide" style="background:url(../build/code.jpg);height: 600px;">
                <p>Dans ce site vous pourrez apprendre a nous connaitre ...</p>
            </div>

            <div class="swiper-slide" style="background:url(../build/service.jpg);height: 600px;">
                <p><span style="text-transform:uppercase;">é</span>galement voir les services que nous proposons ....</p>
            </div>

            <div class="swiper-slide" style="background:url(../build/projet.jpg);height: 600px;">
                <p>Mais aussi touts nos projets récents .</p>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
{% endblock %}