{% extends 'base.html.twig' %}

{% block body %}

{#    debut slider#}
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide content">
                <img class="swiper-slide" style="height: 500px; width: 80%; display: block;margin: auto" src="{{ asset('build/code.jpg') }}" alt="">
                <div class="Middle">Dans ce site vous pourrez apprendre a nous connaitre ...</div>
            </div>

            <div class="swiper-slide content">
                <img class="swiper-slide" style="height: 500px; width: 80%; display: block;margin: auto" src="{{ asset('build/service.jpg') }}" alt="">
                <div class="Middle"><span style="text-transform:uppercase;">é</span>galement voir les services que nous proposons ....</div>
            </div>

            <div class="swiper-slide content">
                <img class="swiper-slide" style="height: 500px; width: 80%; display: block;margin: auto" src="{{ asset('build/projet.jpg') }}" alt="">
                <div class="Middle">Mais aussi touts nos projets récents .</div>
            </div>

        </div>
        <div class="swiper-button-next" style="margin-right: 50px; color: black"></div>
        <div class="swiper-button-prev" style="margin-left: 50px; color: black"></div>
    </div>
{#    fin slider#}

{#    about#}

    <section id="about">
        <h1 class="text-center" style="color: #5289d8;margin-top: 20px;font-size: 70px;">BJ TechnoDev</h1>
        <p class="text-center about-txt">
            Nous sommes deux <strong>developpeur full stack symfony</strong> <br>
            Nous sommes actuellement en deuxieme année dans le <strong>Bachelor ESGI</strong> <br>
            Notre <strong>startup</strong> a été monté pour nous permettre d'apprendre a gérer des clients et de realisé <strong>plusieurs projets</strong>
        </p>

            <div class="row">
                <div class="col-md-6 text-center resp-about" style="padding-left: 62px;">
                    <a class="none-deco" href="https://bastiendev.com/" target="_blank">
                        <img alt="" class="img-ronde" src="https://place-hold.it/300x300/666/fff.png/000">
                    </a>
                    <span class="txt-img-ronde"><span class="resp-emoji">⬅</span>️Bastien Oeuvrard</span>
                </div>

                <div class="col-md-6 text-center resp-about">
                    <a class="none-deco" href="https://jeremydev.fr" target="_blank">
                        <img alt="" class="img-ronde" src="https://place-hold.it/300x300/666/fff.png/000">
                    </a>
                    <span class="txt-img-ronde"><span class="resp-emoji">⬅</span>️Jérémy ROSSI</span>
                </div>
            </div>

    </section>

{#    fin about#}

{#    section service#}

    <section class="content-section text-white text-center" id="services">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">Ce qu'on peut vous offrir !</h2>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                    <h4><strong>Responsive</strong></h4>
                    <p class="text-faded mb-0">Un design pour toute les tailles d'écran</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-desktop"></i></span>
                    <h4><strong>Developper Web</strong></h4>
                    <p class="text-faded mb-0">
                        Developpement de vos site web
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-basket"></i></span>
                    <h4><strong>E-commerce</strong></h4>
                    <p class="text-faded mb-0">Et meme vos site E-commerce</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-settings"></i></span>
                    <h4><strong>Maintenance</strong></h4>
                    <p class="text-faded mb-0">Un service de maintenance est possible</p>
                </div>
            </div>
        </div>
    </section>

{#    fin section service#}
{% endblock %}