{{ encore_entry_link_tags('erreur') }}
<div class="container container-500">
    <h5>Internal Server error !</h5>
    <h1 class="h1-500">500</h1>
    <p class="p-500">Ce n'est pas vous c'est nous ...
        <br/>
        <a href="{{path('homepage')}}">aller a l'accueil</a>
        ou revenz plus tard
    </p>
</div>
{{ encore_entry_script_tags('erreur') }}