{{ encore_entry_link_tags('erreur') }}
<div class="container container-404">
    <h1 class="h1-404">Erreur 404</h1>
    <p class="p-404">Cette page est introuvable</p>
    <a class="a-404" href={{path('homepage')}}>voulez vous vous rendre a la page d'accueil</a>
</div>
{{ encore_entry_script_tags('erreur') }}